:root {
    --color-background: #222222;
    --color-background-shadow: #4a4a4a;
    --color-background-dark: #1a1a1a;
	--color-text: #efefef;
    --color-text-shadow: #b3b3b3;
    --color-icon: #919191;
	/* redesign das cores */
	--color-bg-secondary: #222222;
	--color-header-bg: #1a1a1a;
	--color-bg-canvas: #222222;
	--color-bg-info: #222222;
	--color-bg-canvas-inset: #222222;
	--color-bg-primary: #1a1a1a;
	--color-text-primary: #efefef;
	--color-btn-bg: #1a1a1a;
	--color-btn-text: #efefef;
	--color-btn-border: #4a4a4a;
	--color-btn-hover-bg: #1a1a1a;
	--color-btn-hover-border: #efefef;
	--color-auto-gray-9: #efefef;
	--color-input-bg: #4a4a4a;
	--color-input-contrast-bg: #4a4a4a;
	--color-bg-overlay: #1a1a1a;
	--color-underlinenav-text: #b3b3b3;
	--color-underlinenav-text-active: #efefef;
	--color-underlinenav-text-hover: #efefef;
	--color-text-primary: #efefef;
	--color-header-logo: #b3b3b3;
	--color-header-text: #efefef;
	--color-calendar-graph-day-bg: #4a4a4a;
	--color-border-primary: #4a4a4a;
	--color-bg-tertiary: #1a1a1a;
	--color-timeline-badge-bg: #1a1a1a;
	--color-border-secondary: #1a1a1a;
	--color-topic-tag-bg: #1a1a1a;
	--color-topic-tag-hover-bg: #1a1a1a;
	--color-auto-gray-2: #4a4a4a;
	--color-auto-gray-6: #b3b3b3;
	--color-btn-selected-bg: #4a4a4a;
	--color-state-hover-secondary-bg: #4a4a4a;
	--color-text-secondary: #b3b3b3;
	--color-box-bg-info: #1a1a1a;
	--color-box-border-info: #4a4a4a;
	--color-social-count-bg: #1a1a1a;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-background-dark) var(--color-background-shadow);
}
.border-bottom {
    border-bottom: inherit !important;
}
.border-right {
    border-right: inherit !important;
}
.border-top {
    border-top: inherit !important;
}
.hide-sm.hide-md.f5.mb-1.border-top.pt-3 {
	padding-top: 0px !important;
}
.mt-4.position-sticky.top-0 {
	margin-top: 0px !important;
}
.flex-shrink-0 > .mt-md-n5 {
    margin-top: 32px !important;
}
.ajax-pagination-form .ajax-pagination-btn:focus, .ajax-pagination-form .ajax-pagination-btn:hover {
	border: 1px solid #efefef;
}
.js-profile-timeline-year-list, .contribution-activity-listing .color-bg-primary.pl-2.pr-3 {
	background-color: var(--color-background) !important;
}
.col-12.source {
	background-color: var(--color-bg-primary);
	border: 1px solid var(--color-border-primary);
	border-radius: 6px;
	border-color: var(--color-border-primary) !important;
	padding: 16px !important;
	margin-top: 8px !important;
}
.delete-topic-button, .topic-tag, .topic-tag-action {
	border: 1px solid #4a4a4a;
}
.delete-topic-button:hover, .topic-tag-action:hover, .topic-tag:hover {
	border: 1px solid #efefef;
}
.pricing-matrix-column-tier {
    background-color: var(--color-background-dark) !important;
}
.pricing-matrix-row:hover .pricing-matrix-column-feature, .pricing-matrix-row:hover .pricing-matrix-row-text, .pricing-matrix-row:hover .pricing-matrix-column-tier {
    background-color: var(--color-background-shadow) !important;
}
.timeline-comment--caret.current-user::before, .timeline-comment--caret.current-user::after, .timeline-comment--caret::before, .timeline-comment--caret::after {
	border-right-color: var(--color-background-shadow) !important;
}
.application-main main > div:nth-of-type(2) {
	background-color: var(--color-background) !important;
}
.subnav-link.selected {
	color: var(--color-text) !important;
}